* {
    font-family: 'Slabo 27px', serif;
}

body, html {
    background-color: rgb(241, 241, 241);
    height: 100%;
    margin: 0;
}

#content {
    height: 100%;
}

#landingPage { 
    background: url('./images/arabica-website3.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#viewInfo {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
}

#viewInfoContainer {
    position: absolute;
    bottom: 28%;
    left: calc(50% - 82px);
    border: 2px solid white;
    padding: 9px 13px;
}

#scrollDown {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}
  
#scrollDown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }
  
#scrollDown:before {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(8px); 
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0px 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}

#information {
    margin: 60px 160px;
}

#informationTabs {
    display: flex;
}

#informationContent {
    background-color: rgb(255, 251, 245);
    box-shadow: 0px 0px 20px 13px rgb(226, 226, 226);
    padding: 35px;
}

.tab {
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    padding: 13px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: rgb(240, 239, 239);
}

.tab:focus {
    outline: 0;
}

.selectedTab {
    background-color: rgb(255, 251, 245);
    transition: none;
}

.selectedTab:hover {
    background-color: rgb(255, 251, 245);
}

.lineSeperator {
    background-color: black;
    height: 2px;
}

#aboutContent { 
    font-size: 1.3em;
    padding: 15px 75px;
}

.foodTypeContainer {
    margin-bottom: 20px;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-gap: 20px;
}

.foodContainer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 13px 7px rgba(242,242,242,1);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.foodContainer * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}

.foodContainer div {
    text-align: center;
}

.foodNameContainer {
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px 0;
}

.foodDescriptionContainer {
    margin-bottom: 10px;
    flex-grow: 1;
}

.foodPriceContainer {
    font-weight: bold;
    margin-bottom: 10px;
}

.foodImageContainer {
    padding: 10px;
}

.foodImage {
    max-width: 100%;
    max-height: auto;
}